@function calculate-rem( $size ) {
	$remSize: $size / $base-font-size;

	@return #{$remSize}rem;
}

@mixin fontSize( $size ) {
	font-size: $size; // Fallback in px
	font-size: calculate-rem( $size );
}
