@mixin toggle-button($svg) {
	display: flex;
	height: 48px;
	align-items: center;
	justify-content: center;
	position: relative;
	text-decoration: none;

	&:before {
		border-top: 1px solid $color-light-gray;
		content: '';
		margin-right: 64px;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
	}

	> span {
		z-index: 1;
		background: #fff;
		color: $color-light-azureish-gray;
		font-weight: bold;
		font-family: $font-family-sans;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	&:after {
		background: #fff $svg 50% 50% no-repeat;
		width: 32px;
		height: 32px;
		content: '';
		position: absolute;
		right: 0;
		transform: scaleY( -1 );
	}

	&--expanded:after {
		transform: scaleY( 1 );
	}

	&--unclickable {
		pointer-events: none;
		cursor: default;

		&:after {
			content: none;
		}
	}

	@include media-breakpoint-up(md) {
		justify-content: inherit;

		> span {
			margin-left: 56px;
		}
	}

	@include media-breakpoint-up(lg) {
		> span {
			margin-left: 202px;
		}
	}
}
