[Unit]
Description=a systemd service for termbox server side rendering
Documentation=https://gerrit.wikimedia.org/r/admin/projects/wikibase/termbox
Requires=docker.service

[Service]
# one day we might get the image from a registry, so far built locally - see /srv/termbox/update.sh
# ExecStartPre=/usr/bin/docker pull wmde/wikibase-termbox-production:latest
ExecStart=/usr/bin/docker run --restart=always --name=systemd_termbox -e WIKIBASE_REPO={{ WIKIBASE_REPO }} -e SSR_PORT={{ SSR_PORT }} -p={{ SSR_PORT }}:{{ SSR_PORT }} wmde/wikibase-termbox-production:latest
ExecStop=/usr/bin/docker stop systemd_termbox
ExecStopPost=/usr/bin/docker rm -f systemd_termbox
ExecReload=/usr/bin/docker restart systemd_termbox

[Install]
WantedBy=multi-user.target
